*
!src/
!src/**

!verilog/
!verilog/**

!markdown/
!markdown/**

!screenshots/
!screenshots/**

!README.md

!build.gradle
!settings.gradle
!gradle.properties
!gradlew
!gradlew.bat
!gradle/
!gradle/**
